<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="bellyBean" class="io.cucumber.spring.beans.BellyBean"/>

	<bean id="testController" class="io.cucumber.spring.beans.TestController"/>

    <bean id="placeholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="properties">
            <props>
                <prop key="cukes.test.property">property value</prop>
            </props>
        </property>
    </bean>

	<bean id="transactionManager" class="io.cucumber.spring.beans.PlatformTransactionManagerImpl" scope="cucumber-glue"/>

</beans>
