<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <!-- Ignored by Maven, but not by Renovate bot.

        Renovate bot runs in CI and because of that does pick up the extra
        modules automatically.

        https://docs.renovatebot.com/modules/manager/maven/
        -->
    <activeProfiles>
        <activeProfile>include-extra-modules</activeProfile>
    </activeProfiles>
</settings>
