# IDE working files
/*.iws
/*.ipr
*.iml
.settings
.project
.classpath


# Build directories
distrib/
target/
tmp/

# Build & test droppings
/report.js
/chromedriver.log
/.scala_dependencies
nexus.properties
