# IDE working files
/*.iws
.settings
.project
.classpath


# Build directories
distrib/
target/
tmp/

# Build & test droppings
/report.js
/chromedriver.log
/.scala_dependencies
/*/*.pom
nexus.properties
