<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cucumber.example.android.cukeulator.test"
          android:versionCode="1"
          android:versionName="1.0">

    <application>
        <uses-library android:name="android.test.runner"/>
    </application>
    <!--
    This declares that this application uses the instrumentation test runner targeting
    the package of cucumber.example.android.cukeulator. To run the tests use the command:
    "adb shell am instrument -w cucumber.example.android.cukeulator.test/cucumber.api.android.CucumberInstrumentation"
    -->
    <instrumentation
            android:name="cucumber.api.android.CucumberInstrumentation"
            android:targetPackage="cucumber.example.android.cukeulator"
            android:label="Tests for cucumber.example.android.cukeulator"/>
</manifest>
