.vis-item.vis-selected {
    border-color: #8f3938;
    font-weight: bold;
}

.vis-item.passed {
    background-color: #C5D88A;
}

.vis-item.undefined,
.vis-item.pending {
    background-color: #EAEC2D;
}

.vis-item.skipped {
    background-color: #2DEAEC;
}

.vis-item.failed {
    background-color: #D88A8A;
}
