AR.java
BG.java
CA.java
CS.java
CY_GB.java
DA.java
DE.java
EN.java
EN_AU.java
EN_LOL.java
EN_PIRATE.java
EN_SCOUSE.java
EN_TX.java
EO.java
ES.java
ET.java
FI.java
FR.java
HE.java
HR.java
HU.java
ID.java
IS.java
IT.java
JA.java
KO.java
LT.java
LU.java
LV.java
NL.java
NO.java
PL.java
PT.java
RO.java
RU.java
SK.java
SR_CYRL.java
SR_LATN.java
SV.java
TR.java
UK.java
UZ.java
VI.java
ZH_CN.java
ZH_TW.java

