body {
  font-family: Helvetica,Arial,sans-serif;
}
#templates {
  display: none;
}

.keyword {
  color: #164B2B;
}

.description {
  font-style: italic;
}

.blockelement {
  margin-bottom: 20px;
}

.featureElements {
  margin-left: 20px;
}

.steps {
  margin-left: 20px;
}

table.examples {
  margin-left: 20px;
}

table.examples td {
  border: 1px;
  border-style: solid;
}

.passed {
  background-color: #C5D88A;
}

.skipped {
  background-color: #EAEC2D;
}

.failed {
  background-color: #D88A8A;
}