<?xml version="1.0" encoding="utf-8"?>
<!--
This is the manifest for the android-test project, an Android project
that is both an Android app-project and a test-project.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cucumber.example.android.test"
          android:versionCode="1"
          android:versionName="1.0">

    <!--
    We are using targetSdkVersion 18 (Android 4.3) in the manifest even though at most level 16
    (Android 4.1) is available through maven. Users are expected to always build their apps with
    the latest sdk level whilst maintaining backwards compatibility with minSdkVersion.
    -->
    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="18"/>
    <application
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher">
        <uses-library android:name="android.test.runner"/>
        <activity
                android:name=".CucumberActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
    <!--
    It is essential to use CucumberInstrumentation as instrumentation.
    targetPackage is the package name of the application you want to test; In this case
    it is the the same as the test package because we are using only this one project to
    test itself.
    -->
    <instrumentation
            android:name="cucumber.api.android.CucumberInstrumentation"
            android:targetPackage="cucumber.example.android.test"/>
</manifest>