name: Release maven package

on:
  push:
    branches: [release/*]

jobs:
  pre-release-check:
    uses: cucumber/.github/.github/workflows/prerelease-checks.yml@main

  test-java:
    uses: ./.github/workflows/test-java.yml

  publish-mvn:
    name: Publish Maven Package
    needs: [pre-release-check, test-java]
    runs-on: ubuntu-latest
    environment: Release

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v2
        with:
          distribution: "temurin"
          java-version: "11"
          cache: "maven"

      - uses: cucumber/action-publish-mvn@v1.1.0
        with:
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}
          nexus-username: cukebot
          nexus-password: ${{ secrets.SONATYPE_PASSWORD }}
